*,
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    }


.header {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.wrap {
    display: flex;
    background-color: rgb(77, 43, 43);
    font-size: 20px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.mainmenu {
    display: flex;
    padding: 20px;
    font-size: 20px;
    
}

.halutama {
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 50px;
    text-align: center;
}

.mainmenu1 {
    display: flex;
    align-items: center;
}

.mainmenu1>li {
    background-color: rgb(0, 0, 0);
    list-style-type: none;
    padding: 20px;
    width: 100vh;
    text-align: center;
}

.mainmenu1>li>a {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color:rgb(243, 242, 242);
}

.mainmenu1>li>a:hover {
    background-color: rgb(194, 130, 183);
    transition: .1s ease-in-out;
    transition-delay: .1s;
    border-radius: 5px;
    padding-left: 10px;
}

.profil {
    align-items: center;
    
}

.text1 {
    text-decoration: none;
    list-style-type: none;
}

.tabel {
  margin-bottom: 250px;
}

.menu {
    display: flex;
    align-items: center;
    padding: 20px;
    
}

.menu {
    justify-content: space-between;
}

.konten {
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 400px;
}

.konten1 {
    font-size: 4em;
    padding-top: 50px;
    width: 100%;
}

.konten2 {
    font-size: 1em;
    width: 100%;
}

.footer {
    width: 100%;
    text-align: center;
}

.kontak {
    width: 100%;
    text-align: center;
}

.hasatu {
    padding: 50px;
    font-size: 2em;
 
}

.hadua {
    padding: 50px;
    font-size: 2em;
}

.tentang {
    padding: 50px;
    text-align: center;
color: blue;

}

.hatiga {
    width:100px;
    height:100px;
}